 
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 

$ease: all 0.3s ease;
$navBackColor: #262626;
$logoBackColor: #262626;
$bodyBackColor: #ccc;
$secColor: #e91e63;

 

.owl-carousel .owl-stage-outer {
  width: 100%;
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: $secColor;
}
